site_name: UIASub Wiki
site_url: https://wiki.uiasub.no/

docs_dir: docs
site_dir: site

theme:
  name: material
  favicon: images/favicon.ico
  logo: assets/Icon.png
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tabs
    - content.code.copy
    - content.tabs.link
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle: 
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

use_directory_urls: true
extra:
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/uiasub
    - icon: fontawesome/brands/github
      link: https://github.com/uiasub/
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/uiasub
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/uiasub

markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: uiasub
      repo: wiki.uiasub.no
  - toc:
      permalink: true

plugins:
  - search
  - awesome-pages

copyright: Copyright &copy; 2024 - 2026 UiASub

# Repository
repo_name: uiasub/wiki.uiasub.no
repo_url: https://github.com/uiasub/wiki.uiasub.no
